.services-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.service-item {
  padding: 2rem;
  background: url(../../assets/hero-img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  border: 1px solid #b2f0fb;
}
.service-item figure {
  border: 2px solid rgba(86, 90, 207, 0.1);
  display: inline-block;
  padding: 1rem;
}
.service-item img {
  width: 60px;
  height: 60px;
}
.service-item h5 {
  color: var(--primary-text);
  font-weight: 900;
}
.service-item p {
  color: var(--pera-text);
  font-weight: 400;
  font-size: 15px;
}
.s-fees p {
  color: var(--primary-text) !important;
  font-size: 13px;
  font-weight: 900;
}

/* media query */
@media screen and (max-width: 1199px) {
  .service-item {
    padding: 1rem;
  }
}
@media screen and (max-width: 999px) {
  .services-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .services-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
