.dark-mood {
  background-color: #202124 !important;
}
.theme-switch {
  /* width: 100px;
  height: 30px;
  border: 1px solid #bbddff;
  border-radius: 20px; */
  cursor: pointer;
}
.theme-switch span {
  width: 27px;
  height: 27px;
  background-color: #202124;
  border-radius: 50%;

  display: block;
  transition: all 0.3s linear;
}
.theme-switch-toggle {
  transform: translateX(70px);
  transition: all 0.3s linear !important;
  background-color: whitesmoke !important;
}
.dashboard {
  width: 100%;
  padding: 0 !important;
  /* background-color: #202124; */
  /* color: white !important;v */
  transition: all 0.3s linear;
}

.dashboard-toggler {
  background: #ececfa;
  /* background-color: #202124; */
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-toggler button {
  border: none;
  background: transparent;
  display: none;
}

.dashboard-toggler a,
span {
  font-size: 13px;
  padding: 10px 3px;
  text-transform: uppercase;
}
.dashboard-toggler p {
  font-weight: bolder;
  color: var(--primary-text);
  padding: 0 10px;
  font-size: 1.5rem !important;
}
.d-nav {
  min-height: 100vh;
  width: 200px;
  /* background: #ececfa; */
  position: fixed;
  top: 100px;
  left: 0;
  transition: all 0.4s linear;
  background-color: #ececfa;
  z-index: 99999;
}
.d-nav-dark {
  background-color: #202124;
}
.d-nav-active {
  transform: translateX(-100%);
}
.dashboard {
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 50px;
  margin-top: 100px;
  padding: 2rem;
  background-color: #ececfa;
}
.d-nav-top {
  /* border-bottom: 1px solid #bbddff; */
  border-bottom: 1px solid #ddd;
  text-align: center;
  margin: 1rem 0;
}

.d-nav-top figure {
  width: 100px;
  height: 100%;
  border-radius: 50%;
  margin: 0 auto;
}
.d-nav-top img {
  border-radius: 50%;
}
.d-nav-top div {
  border-radius: 50%;
  border: 1px solid #bbddff;
  width: 100px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: var(--primary-text);
  font-weight: 900;
}
.d-nav-top p {
  font-size: 1rem;
  padding: 10px 0;
  color: var(--primary-text);
  font-weight: 500;
  text-transform: capitalize;
}
.d-nav-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.d-nav-links a {
  /* border-bottom: 1px solid #bbddff; */
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  font-size: 1rem;
}
.d-nav-links a b {
  margin-left: 5px;
}

@media screen and (max-width: 1199px) {
  .d-nav {
    width: 250px;
  }
}
@media screen and (max-width: 999px) {
  .d-nav {
    width: 300px;
    transform: translateX(-100%) !important;
  }
  .d-nav-active {
    transform: translateX(0) !important;
  }
  .dashboard-toggler button {
    display: block;
  }
}

@media screen and (max-width: 520px) {
  .dashboard-toggler {
    /* flex-direction: column !important; */
    padding: 10px 1rem;
    height: 130px;
  }
  .theme-switch {
    margin-left: auto;
  }
  .d-nav {
    top: 130px;
  }
  .dashboard {
    margin-top: 130px;
  }
}
