.aboutUs-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transform: scaleY(0.9);
  grid-gap: 20px;
}
.aboutUs-gallery img {
  border-radius: 20px 0 20px 0;
}
.aboutUs-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aboutUs-content p {
  color: var(--pera-text);
  line-height: 1.6;
  font-weight: 500;
}
/* media query */
@media screen and (max-width: 1199px) {
  .aboutUs-content {
    transform: scaleY(1);
  }
}
@media screen and (max-width: 991px) {
  .aboutUs-content {
    transform: scale(1);
    order: 1;
  }
  .about-right {
    order: 1 !important;
  }
  .about-left {
    order: 2 !important;
  }
}
